
#ignore compiled files
bin/
out/

#logs
*.log

#ignore settings
.settings
.classpath
.pydevproject
.project
PlaneSpotter.iml
src/planespotter/module-info.java
PlaneSpotterNeuNeu.iml

#intelliJ
.idea/

#database
*.db

#artifacts
PlaneSpotterNeuNeu.jar
src/META-INF/
